<section class="main__catalog">
    <div class="main__catalog-mob mob">
        <button class="close__modal">
            <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d_90_7514)">
                    <rect x="13" y="13" width="40" height="40" rx="20" fill="#FFF4F5" />
                    <path
                        d="M28.0507 38.8699C26.4941 36.0145 22.1807 32.9999 22.1807 32.9999C22.1807 32.9999 26.4928 29.9852 28.0507 27.1299"
                        stroke="#17174D" stroke-width="2.00069" stroke-miterlimit="22.9256" stroke-linecap="square" />
                    <path d="M23.7087 32.9609H43.8193" stroke="#17174D" stroke-width="2.00069"
                        stroke-miterlimit="22.9256" stroke-linecap="square" />
                </g>
                <defs>
                    <filter id="filter0_d_90_7514" x="0" y="0" width="70" height="70" filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                            result="hardAlpha" />
                        <feOffset dx="2" dy="2" />
                        <feGaussianBlur stdDeviation="7.5" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix"
                            values="0 0 0 0 0.0908334 0 0 0 0 0.0908334 0 0 0 0 0.3 0 0 0 0.1 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_90_7514" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_90_7514" result="shape" />
                    </filter>
                </defs>
            </svg>
        </button>
        <div class="main__catalog-body-block-filter">
            <span class="main__catalog-body-block-filter-title">
                Фильтр
            </span>
            <div class="main__catalog-body-block-filter-sale">
                <span class="main__catalog-body-block-filter-sale-span">Товары со скидкой</span>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="main__catalog-body-block-filter-acc">
                <div class="main__catalog-body-block-filter-acc-item">
                    <div class="main__catalog-body-block-filter-acc-item-top">
                        <span>Цена</span>
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 12L16 21L25 12" stroke="#17174D" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </div>
                    <div class="main__catalog-body-block-filter-acc-item-bot">
                        <label class="container">
                            0.33 л
                            <input type="checkbox">
                            <span class="checkmark">
                                <svg width="16.007950" height="12.831055" viewBox="0 0 16.0079 12.8311" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <desc>
                                        Created with Pixso.
                                    </desc>
                                    <defs />
                                    <path id="Icon" d="M1 6.5L6.87 11.83L15 1" stroke="#17174D"
                                        stroke-opacity="1.000000" stroke-width="2.000000" stroke-linejoin="round"
                                        stroke-linecap="round" />
                                </svg>
                            </span>
                        </label>
                        <label class="container">
                            0.5 л
                            <input type="checkbox">
                            <span class="checkmark">
                                <svg width="16.007950" height="12.831055" viewBox="0 0 16.0079 12.8311" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <desc>
                                        Created with Pixso.
                                    </desc>
                                    <defs />
                                    <path id="Icon" d="M1 6.5L6.87 11.83L15 1" stroke="#17174D"
                                        stroke-opacity="1.000000" stroke-width="2.000000" stroke-linejoin="round"
                                        stroke-linecap="round" />
                                </svg>
                            </span>
                        </label>
                        <label class="container">
                            0.75 л
                            <input type="checkbox">
                            <span class="checkmark">
                                <svg width="16.007950" height="12.831055" viewBox="0 0 16.0079 12.8311" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <desc>
                                        Created with Pixso.
                                    </desc>
                                    <defs />
                                    <path id="Icon" d="M1 6.5L6.87 11.83L15 1" stroke="#17174D"
                                        stroke-opacity="1.000000" stroke-width="2.000000" stroke-linejoin="round"
                                        stroke-linecap="round" />
                                </svg>
                            </span>
                        </label>
                        <label class="container">
                            1 л
                            <input type="checkbox">
                            <span class="checkmark">
                                <svg width="16.007950" height="12.831055" viewBox="0 0 16.0079 12.8311" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <desc>
                                        Created with Pixso.
                                    </desc>
                                    <defs />
                                    <path id="Icon" d="M1 6.5L6.87 11.83L15 1" stroke="#17174D"
                                        stroke-opacity="1.000000" stroke-width="2.000000" stroke-linejoin="round"
                                        stroke-linecap="round" />
                                </svg>
                            </span>
                        </label>
                    </div>
                </div>
                <div class="main__catalog-body-block-filter-acc-item">
                    <div class="main__catalog-body-block-filter-acc-item-top">
                        <span>Страна</span>
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 12L16 21L25 12" stroke="#17174D" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </div>
                    <div class="main__catalog-body-block-filter-acc-item-bot">
                        <label class="container">
                            0.33 л
                            <input type="checkbox">
                            <span class="checkmark">
                                <svg width="16.007950" height="12.831055" viewBox="0 0 16.0079 12.8311" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <desc>
                                        Created with Pixso.
                                    </desc>
                                    <defs />
                                    <path id="Icon" d="M1 6.5L6.87 11.83L15 1" stroke="#17174D"
                                        stroke-opacity="1.000000" stroke-width="2.000000" stroke-linejoin="round"
                                        stroke-linecap="round" />
                                </svg>
                            </span>
                        </label>
                        <label class="container">
                            0.5 л
                            <input type="checkbox">
                            <span class="checkmark">
                                <svg width="16.007950" height="12.831055" viewBox="0 0 16.0079 12.8311" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <desc>
                                        Created with Pixso.
                                    </desc>
                                    <defs />
                                    <path id="Icon" d="M1 6.5L6.87 11.83L15 1" stroke="#17174D"
                                        stroke-opacity="1.000000" stroke-width="2.000000" stroke-linejoin="round"
                                        stroke-linecap="round" />
                                </svg>
                            </span>
                        </label>
                        <label class="container">
                            0.75 л
                            <input type="checkbox">
                            <span class="checkmark">
                                <svg width="16.007950" height="12.831055" viewBox="0 0 16.0079 12.8311" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <desc>
                                        Created with Pixso.
                                    </desc>
                                    <defs />
                                    <path id="Icon" d="M1 6.5L6.87 11.83L15 1" stroke="#17174D"
                                        stroke-opacity="1.000000" stroke-width="2.000000" stroke-linejoin="round"
                                        stroke-linecap="round" />
                                </svg>
                            </span>
                        </label>
                        <label class="container">
                            1 л
                            <input type="checkbox">
                            <span class="checkmark">
                                <svg width="16.007950" height="12.831055" viewBox="0 0 16.0079 12.8311" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <desc>
                                        Created with Pixso.
                                    </desc>
                                    <defs />
                                    <path id="Icon" d="M1 6.5L6.87 11.83L15 1" stroke="#17174D"
                                        stroke-opacity="1.000000" stroke-width="2.000000" stroke-linejoin="round"
                                        stroke-linecap="round" />
                                </svg>
                            </span>
                        </label>
                    </div>
                </div>
                <div class="main__catalog-body-block-filter-acc-item">
                    <div class="main__catalog-body-block-filter-acc-item-top">
                        <span>Регион</span>
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 12L16 21L25 12" stroke="#17174D" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </div>
                    <div class="main__catalog-body-block-filter-acc-item-bot">
                        <label class="container">
                            0.33 л
                            <input type="checkbox">
                            <span class="checkmark">
                                <svg width="16.007950" height="12.831055" viewBox="0 0 16.0079 12.8311" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <desc>
                                        Created with Pixso.
                                    </desc>
                                    <defs />
                                    <path id="Icon" d="M1 6.5L6.87 11.83L15 1" stroke="#17174D"
                                        stroke-opacity="1.000000" stroke-width="2.000000" stroke-linejoin="round"
                                        stroke-linecap="round" />
                                </svg>
                            </span>
                        </label>
                        <label class="container">
                            0.5 л
                            <input type="checkbox">
                            <span class="checkmark">
                                <svg width="16.007950" height="12.831055" viewBox="0 0 16.0079 12.8311" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <desc>
                                        Created with Pixso.
                                    </desc>
                                    <defs />
                                    <path id="Icon" d="M1 6.5L6.87 11.83L15 1" stroke="#17174D"
                                        stroke-opacity="1.000000" stroke-width="2.000000" stroke-linejoin="round"
                                        stroke-linecap="round" />
                                </svg>
                            </span>
                        </label>
                        <label class="container">
                            0.75 л
                            <input type="checkbox">
                            <span class="checkmark">
                                <svg width="16.007950" height="12.831055" viewBox="0 0 16.0079 12.8311" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <desc>
                                        Created with Pixso.
                                    </desc>
                                    <defs />
                                    <path id="Icon" d="M1 6.5L6.87 11.83L15 1" stroke="#17174D"
                                        stroke-opacity="1.000000" stroke-width="2.000000" stroke-linejoin="round"
                                        stroke-linecap="round" />
                                </svg>
                            </span>
                        </label>
                        <label class="container">
                            1 л
                            <input type="checkbox">
                            <span class="checkmark">
                                <svg width="16.007950" height="12.831055" viewBox="0 0 16.0079 12.8311" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <desc>
                                        Created with Pixso.
                                    </desc>
                                    <defs />
                                    <path id="Icon" d="M1 6.5L6.87 11.83L15 1" stroke="#17174D"
                                        stroke-opacity="1.000000" stroke-width="2.000000" stroke-linejoin="round"
                                        stroke-linecap="round" />
                                </svg>
                            </span>
                        </label>
                    </div>
                </div>
                <div class="main__catalog-body-block-filter-acc-item">
                    <div class="main__catalog-body-block-filter-acc-item-top">
                        <span>Тип</span>
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 12L16 21L25 12" stroke="#17174D" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </div>
                    <div class="main__catalog-body-block-filter-acc-item-bot">
                        <label class="container">
                            0.33 л
                            <input type="checkbox">
                            <span class="checkmark">
                                <svg width="16.007950" height="12.831055" viewBox="0 0 16.0079 12.8311" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <desc>
                                        Created with Pixso.
                                    </desc>
                                    <defs />
                                    <path id="Icon" d="M1 6.5L6.87 11.83L15 1" stroke="#17174D"
                                        stroke-opacity="1.000000" stroke-width="2.000000" stroke-linejoin="round"
                                        stroke-linecap="round" />
                                </svg>
                            </span>
                        </label>
                        <label class="container">
                            0.5 л
                            <input type="checkbox">
                            <span class="checkmark">
                                <svg width="16.007950" height="12.831055" viewBox="0 0 16.0079 12.8311" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <desc>
                                        Created with Pixso.
                                    </desc>
                                    <defs />
                                    <path id="Icon" d="M1 6.5L6.87 11.83L15 1" stroke="#17174D"
                                        stroke-opacity="1.000000" stroke-width="2.000000" stroke-linejoin="round"
                                        stroke-linecap="round" />
                                </svg>
                            </span>
                        </label>
                        <label class="container">
                            0.75 л
                            <input type="checkbox">
                            <span class="checkmark">
                                <svg width="16.007950" height="12.831055" viewBox="0 0 16.0079 12.8311" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <desc>
                                        Created with Pixso.
                                    </desc>
                                    <defs />
                                    <path id="Icon" d="M1 6.5L6.87 11.83L15 1" stroke="#17174D"
                                        stroke-opacity="1.000000" stroke-width="2.000000" stroke-linejoin="round"
                                        stroke-linecap="round" />
                                </svg>
                            </span>
                        </label>
                        <label class="container">
                            1 л
                            <input type="checkbox">
                            <span class="checkmark">
                                <svg width="16.007950" height="12.831055" viewBox="0 0 16.0079 12.8311" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <desc>
                                        Created with Pixso.
                                    </desc>
                                    <defs />
                                    <path id="Icon" d="M1 6.5L6.87 11.83L15 1" stroke="#17174D"
                                        stroke-opacity="1.000000" stroke-width="2.000000" stroke-linejoin="round"
                                        stroke-linecap="round" />
                                </svg>
                            </span>
                        </label>
                    </div>
                </div>
                <div class="main__catalog-body-block-filter-acc-item">
                    <div class="main__catalog-body-block-filter-acc-item-top">
                        <span>Объем</span>
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 12L16 21L25 12" stroke="#17174D" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </div>
                    <div class="main__catalog-body-block-filter-acc-item-bot">
                        <label class="container">
                            0.33 л
                            <input type="checkbox">
                            <span class="checkmark">
                                <svg width="16.007950" height="12.831055" viewBox="0 0 16.0079 12.8311" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <desc>
                                        Created with Pixso.
                                    </desc>
                                    <defs />
                                    <path id="Icon" d="M1 6.5L6.87 11.83L15 1" stroke="#17174D"
                                        stroke-opacity="1.000000" stroke-width="2.000000" stroke-linejoin="round"
                                        stroke-linecap="round" />
                                </svg>
                            </span>
                        </label>
                        <label class="container">
                            0.5 л
                            <input type="checkbox">
                            <span class="checkmark">
                                <svg width="16.007950" height="12.831055" viewBox="0 0 16.0079 12.8311" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <desc>
                                        Created with Pixso.
                                    </desc>
                                    <defs />
                                    <path id="Icon" d="M1 6.5L6.87 11.83L15 1" stroke="#17174D"
                                        stroke-opacity="1.000000" stroke-width="2.000000" stroke-linejoin="round"
                                        stroke-linecap="round" />
                                </svg>
                            </span>
                        </label>
                        <label class="container">
                            0.75 л
                            <input type="checkbox">
                            <span class="checkmark">
                                <svg width="16.007950" height="12.831055" viewBox="0 0 16.0079 12.8311" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <desc>
                                        Created with Pixso.
                                    </desc>
                                    <defs />
                                    <path id="Icon" d="M1 6.5L6.87 11.83L15 1" stroke="#17174D"
                                        stroke-opacity="1.000000" stroke-width="2.000000" stroke-linejoin="round"
                                        stroke-linecap="round" />
                                </svg>
                            </span>
                        </label>
                        <label class="container">
                            1 л
                            <input type="checkbox">
                            <span class="checkmark">
                                <svg width="16.007950" height="12.831055" viewBox="0 0 16.0079 12.8311" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <desc>
                                        Created with Pixso.
                                    </desc>
                                    <defs />
                                    <path id="Icon" d="M1 6.5L6.87 11.83L15 1" stroke="#17174D"
                                        stroke-opacity="1.000000" stroke-width="2.000000" stroke-linejoin="round"
                                        stroke-linecap="round" />
                                </svg>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <button class="main__catalog-body-block-filter-btn">
                Подобрать
            </button>
        </div>
    </div>
    <img class="main__catalog-img" src="../images/dist/l__main.png" alt="">
    <div class="container">
        <div class="main__catalog-body">
            <h2 class="main__catalog-body-title">
                <button class="filter__mob mob">
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M13.0413 14.7446H18.9587V29L13.0413 25.2794V14.7446Z" stroke="#8D0101" stroke-width="2"
                            stroke-miterlimit="22.9256" />
                        <path d="M18.9587 14.7446L28 4.81529V3H4V4.81529L13.0413 14.7446" stroke="#8D0101"
                            stroke-width="2" stroke-miterlimit="22.9256" />
                    </svg>
                </button>
                Каталог
            </h2>
            <div class="main__catalog-body-block">
                <div class="main__catalog-body-block-filter desk">
                    <span class="main__catalog-body-block-filter-title">
                        Фильтр
                    </span>
                    <div class="main__catalog-body-block-filter-sale">
                        <span class="main__catalog-body-block-filter-sale-span">Товары со скидкой</span>
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="main__catalog-body-block-filter-acc">
                        <div class="main__catalog-body-block-filter-acc-item">
                            <div class="main__catalog-body-block-filter-acc-item-top">
                                <span>Цена</span>
                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7 12L16 21L25 12" stroke="#17174D" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </div>
                            <div class="main__catalog-body-block-filter-acc-item-bot">
                                <label class="container">
                                    0.33 л
                                    <input type="checkbox">
                                    <span class="checkmark">
                                        <svg width="16.007950" height="12.831055" viewBox="0 0 16.0079 12.8311"
                                            fill="none" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <desc>
                                                Created with Pixso.
                                            </desc>
                                            <defs />
                                            <path id="Icon" d="M1 6.5L6.87 11.83L15 1" stroke="#17174D"
                                                stroke-opacity="1.000000" stroke-width="2.000000"
                                                stroke-linejoin="round" stroke-linecap="round" />
                                        </svg>
                                    </span>
                                </label>
                                <label class="container">
                                    0.5 л
                                    <input type="checkbox">
                                    <span class="checkmark">
                                        <svg width="16.007950" height="12.831055" viewBox="0 0 16.0079 12.8311"
                                            fill="none" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <desc>
                                                Created with Pixso.
                                            </desc>
                                            <defs />
                                            <path id="Icon" d="M1 6.5L6.87 11.83L15 1" stroke="#17174D"
                                                stroke-opacity="1.000000" stroke-width="2.000000"
                                                stroke-linejoin="round" stroke-linecap="round" />
                                        </svg>
                                    </span>
                                </label>
                                <label class="container">
                                    0.75 л
                                    <input type="checkbox">
                                    <span class="checkmark">
                                        <svg width="16.007950" height="12.831055" viewBox="0 0 16.0079 12.8311"
                                            fill="none" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <desc>
                                                Created with Pixso.
                                            </desc>
                                            <defs />
                                            <path id="Icon" d="M1 6.5L6.87 11.83L15 1" stroke="#17174D"
                                                stroke-opacity="1.000000" stroke-width="2.000000"
                                                stroke-linejoin="round" stroke-linecap="round" />
                                        </svg>
                                    </span>
                                </label>
                                <label class="container">
                                    1 л
                                    <input type="checkbox">
                                    <span class="checkmark">
                                        <svg width="16.007950" height="12.831055" viewBox="0 0 16.0079 12.8311"
                                            fill="none" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <desc>
                                                Created with Pixso.
                                            </desc>
                                            <defs />
                                            <path id="Icon" d="M1 6.5L6.87 11.83L15 1" stroke="#17174D"
                                                stroke-opacity="1.000000" stroke-width="2.000000"
                                                stroke-linejoin="round" stroke-linecap="round" />
                                        </svg>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="main__catalog-body-block-filter-acc-item">
                            <div class="main__catalog-body-block-filter-acc-item-top">
                                <span>Страна</span>
                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7 12L16 21L25 12" stroke="#17174D" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </div>
                            <div class="main__catalog-body-block-filter-acc-item-bot">
                                <label class="container">
                                    0.33 л
                                    <input type="checkbox">
                                    <span class="checkmark">
                                        <svg width="16.007950" height="12.831055" viewBox="0 0 16.0079 12.8311"
                                            fill="none" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <desc>
                                                Created with Pixso.
                                            </desc>
                                            <defs />
                                            <path id="Icon" d="M1 6.5L6.87 11.83L15 1" stroke="#17174D"
                                                stroke-opacity="1.000000" stroke-width="2.000000"
                                                stroke-linejoin="round" stroke-linecap="round" />
                                        </svg>
                                    </span>
                                </label>
                                <label class="container">
                                    0.5 л
                                    <input type="checkbox">
                                    <span class="checkmark">
                                        <svg width="16.007950" height="12.831055" viewBox="0 0 16.0079 12.8311"
                                            fill="none" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <desc>
                                                Created with Pixso.
                                            </desc>
                                            <defs />
                                            <path id="Icon" d="M1 6.5L6.87 11.83L15 1" stroke="#17174D"
                                                stroke-opacity="1.000000" stroke-width="2.000000"
                                                stroke-linejoin="round" stroke-linecap="round" />
                                        </svg>
                                    </span>
                                </label>
                                <label class="container">
                                    0.75 л
                                    <input type="checkbox">
                                    <span class="checkmark">
                                        <svg width="16.007950" height="12.831055" viewBox="0 0 16.0079 12.8311"
                                            fill="none" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <desc>
                                                Created with Pixso.
                                            </desc>
                                            <defs />
                                            <path id="Icon" d="M1 6.5L6.87 11.83L15 1" stroke="#17174D"
                                                stroke-opacity="1.000000" stroke-width="2.000000"
                                                stroke-linejoin="round" stroke-linecap="round" />
                                        </svg>
                                    </span>
                                </label>
                                <label class="container">
                                    1 л
                                    <input type="checkbox">
                                    <span class="checkmark">
                                        <svg width="16.007950" height="12.831055" viewBox="0 0 16.0079 12.8311"
                                            fill="none" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <desc>
                                                Created with Pixso.
                                            </desc>
                                            <defs />
                                            <path id="Icon" d="M1 6.5L6.87 11.83L15 1" stroke="#17174D"
                                                stroke-opacity="1.000000" stroke-width="2.000000"
                                                stroke-linejoin="round" stroke-linecap="round" />
                                        </svg>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="main__catalog-body-block-filter-acc-item">
                            <div class="main__catalog-body-block-filter-acc-item-top">
                                <span>Регион</span>
                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7 12L16 21L25 12" stroke="#17174D" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </div>
                            <div class="main__catalog-body-block-filter-acc-item-bot">
                                <label class="container">
                                    0.33 л
                                    <input type="checkbox">
                                    <span class="checkmark">
                                        <svg width="16.007950" height="12.831055" viewBox="0 0 16.0079 12.8311"
                                            fill="none" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <desc>
                                                Created with Pixso.
                                            </desc>
                                            <defs />
                                            <path id="Icon" d="M1 6.5L6.87 11.83L15 1" stroke="#17174D"
                                                stroke-opacity="1.000000" stroke-width="2.000000"
                                                stroke-linejoin="round" stroke-linecap="round" />
                                        </svg>
                                    </span>
                                </label>
                                <label class="container">
                                    0.5 л
                                    <input type="checkbox">
                                    <span class="checkmark">
                                        <svg width="16.007950" height="12.831055" viewBox="0 0 16.0079 12.8311"
                                            fill="none" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <desc>
                                                Created with Pixso.
                                            </desc>
                                            <defs />
                                            <path id="Icon" d="M1 6.5L6.87 11.83L15 1" stroke="#17174D"
                                                stroke-opacity="1.000000" stroke-width="2.000000"
                                                stroke-linejoin="round" stroke-linecap="round" />
                                        </svg>
                                    </span>
                                </label>
                                <label class="container">
                                    0.75 л
                                    <input type="checkbox">
                                    <span class="checkmark">
                                        <svg width="16.007950" height="12.831055" viewBox="0 0 16.0079 12.8311"
                                            fill="none" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <desc>
                                                Created with Pixso.
                                            </desc>
                                            <defs />
                                            <path id="Icon" d="M1 6.5L6.87 11.83L15 1" stroke="#17174D"
                                                stroke-opacity="1.000000" stroke-width="2.000000"
                                                stroke-linejoin="round" stroke-linecap="round" />
                                        </svg>
                                    </span>
                                </label>
                                <label class="container">
                                    1 л
                                    <input type="checkbox">
                                    <span class="checkmark">
                                        <svg width="16.007950" height="12.831055" viewBox="0 0 16.0079 12.8311"
                                            fill="none" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <desc>
                                                Created with Pixso.
                                            </desc>
                                            <defs />
                                            <path id="Icon" d="M1 6.5L6.87 11.83L15 1" stroke="#17174D"
                                                stroke-opacity="1.000000" stroke-width="2.000000"
                                                stroke-linejoin="round" stroke-linecap="round" />
                                        </svg>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="main__catalog-body-block-filter-acc-item">
                            <div class="main__catalog-body-block-filter-acc-item-top">
                                <span>Тип</span>
                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7 12L16 21L25 12" stroke="#17174D" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </div>
                            <div class="main__catalog-body-block-filter-acc-item-bot">
                                <label class="container">
                                    0.33 л
                                    <input type="checkbox">
                                    <span class="checkmark">
                                        <svg width="16.007950" height="12.831055" viewBox="0 0 16.0079 12.8311"
                                            fill="none" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <desc>
                                                Created with Pixso.
                                            </desc>
                                            <defs />
                                            <path id="Icon" d="M1 6.5L6.87 11.83L15 1" stroke="#17174D"
                                                stroke-opacity="1.000000" stroke-width="2.000000"
                                                stroke-linejoin="round" stroke-linecap="round" />
                                        </svg>
                                    </span>
                                </label>
                                <label class="container">
                                    0.5 л
                                    <input type="checkbox">
                                    <span class="checkmark">
                                        <svg width="16.007950" height="12.831055" viewBox="0 0 16.0079 12.8311"
                                            fill="none" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <desc>
                                                Created with Pixso.
                                            </desc>
                                            <defs />
                                            <path id="Icon" d="M1 6.5L6.87 11.83L15 1" stroke="#17174D"
                                                stroke-opacity="1.000000" stroke-width="2.000000"
                                                stroke-linejoin="round" stroke-linecap="round" />
                                        </svg>
                                    </span>
                                </label>
                                <label class="container">
                                    0.75 л
                                    <input type="checkbox">
                                    <span class="checkmark">
                                        <svg width="16.007950" height="12.831055" viewBox="0 0 16.0079 12.8311"
                                            fill="none" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <desc>
                                                Created with Pixso.
                                            </desc>
                                            <defs />
                                            <path id="Icon" d="M1 6.5L6.87 11.83L15 1" stroke="#17174D"
                                                stroke-opacity="1.000000" stroke-width="2.000000"
                                                stroke-linejoin="round" stroke-linecap="round" />
                                        </svg>
                                    </span>
                                </label>
                                <label class="container">
                                    1 л
                                    <input type="checkbox">
                                    <span class="checkmark">
                                        <svg width="16.007950" height="12.831055" viewBox="0 0 16.0079 12.8311"
                                            fill="none" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <desc>
                                                Created with Pixso.
                                            </desc>
                                            <defs />
                                            <path id="Icon" d="M1 6.5L6.87 11.83L15 1" stroke="#17174D"
                                                stroke-opacity="1.000000" stroke-width="2.000000"
                                                stroke-linejoin="round" stroke-linecap="round" />
                                        </svg>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="main__catalog-body-block-filter-acc-item">
                            <div class="main__catalog-body-block-filter-acc-item-top">
                                <span>Объем</span>
                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7 12L16 21L25 12" stroke="#17174D" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </div>
                            <div class="main__catalog-body-block-filter-acc-item-bot">
                                <label class="container">
                                    0.33 л
                                    <input type="checkbox">
                                    <span class="checkmark">
                                        <svg width="16.007950" height="12.831055" viewBox="0 0 16.0079 12.8311"
                                            fill="none" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <desc>
                                                Created with Pixso.
                                            </desc>
                                            <defs />
                                            <path id="Icon" d="M1 6.5L6.87 11.83L15 1" stroke="#17174D"
                                                stroke-opacity="1.000000" stroke-width="2.000000"
                                                stroke-linejoin="round" stroke-linecap="round" />
                                        </svg>
                                    </span>
                                </label>
                                <label class="container">
                                    0.5 л
                                    <input type="checkbox">
                                    <span class="checkmark">
                                        <svg width="16.007950" height="12.831055" viewBox="0 0 16.0079 12.8311"
                                            fill="none" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <desc>
                                                Created with Pixso.
                                            </desc>
                                            <defs />
                                            <path id="Icon" d="M1 6.5L6.87 11.83L15 1" stroke="#17174D"
                                                stroke-opacity="1.000000" stroke-width="2.000000"
                                                stroke-linejoin="round" stroke-linecap="round" />
                                        </svg>
                                    </span>
                                </label>
                                <label class="container">
                                    0.75 л
                                    <input type="checkbox">
                                    <span class="checkmark">
                                        <svg width="16.007950" height="12.831055" viewBox="0 0 16.0079 12.8311"
                                            fill="none" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <desc>
                                                Created with Pixso.
                                            </desc>
                                            <defs />
                                            <path id="Icon" d="M1 6.5L6.87 11.83L15 1" stroke="#17174D"
                                                stroke-opacity="1.000000" stroke-width="2.000000"
                                                stroke-linejoin="round" stroke-linecap="round" />
                                        </svg>
                                    </span>
                                </label>
                                <label class="container">
                                    1 л
                                    <input type="checkbox">
                                    <span class="checkmark">
                                        <svg width="16.007950" height="12.831055" viewBox="0 0 16.0079 12.8311"
                                            fill="none" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <desc>
                                                Created with Pixso.
                                            </desc>
                                            <defs />
                                            <path id="Icon" d="M1 6.5L6.87 11.83L15 1" stroke="#17174D"
                                                stroke-opacity="1.000000" stroke-width="2.000000"
                                                stroke-linejoin="round" stroke-linecap="round" />
                                        </svg>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <button class="main__catalog-body-block-filter-btn">
                        Подобрать
                    </button>
                </div>
                <div class="main__catalog-body-block-menu">
                    <div class="main__catalog-body-block-menu-search">
                        <input placeholder="Поиск" type="text">
                        <button>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_120_3329)">
                                    <path
                                        d="M21 21L15.0001 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z"
                                        stroke="#17174D" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_120_3329">
                                        <rect width="24" height="24" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </button>
                    </div>
                    <div class="main__catalog-body-block-menu-items">
                        <a href="" class="main__catalog-body-block-menu-items-item">
                            <div class="main__catalog-body-block-menu-items-item-top">
                                <img src="../images/dist/main__cat/1.png" alt="">
                            </div>
                            <span>Вино</span>
                        </a>
                        <a href="" class="main__catalog-body-block-menu-items-item">
                            <div class="main__catalog-body-block-menu-items-item-top">
                                <img src="../images/dist/main__cat/2.png" alt="">
                            </div>
                            <span>Шампанское</span>
                        </a>
                        <a href="" class="main__catalog-body-block-menu-items-item">
                            <div class="main__catalog-body-block-menu-items-item-top">
                                <img src="../images/dist/main__cat/3.png" alt="">
                            </div>
                            <span>Крепкий алкоголь</span>
                        </a>
                        <a href="" class="main__catalog-body-block-menu-items-item">
                            <div class="main__catalog-body-block-menu-items-item-top">
                                <img src="../images/dist/main__cat/4.png" alt="">
                            </div>
                            <span>Наборы/подарки</span>
                        </a>
                        <a href="" class="main__catalog-body-block-menu-items-item">
                            <div class="main__catalog-body-block-menu-items-item-top">
                                <img src="../images/dist/main__cat/5.png" alt="">
                            </div>
                            <span>Пиво</span>
                        </a>
                        <a href="" class="main__catalog-body-block-menu-items-item">
                            <div class="main__catalog-body-block-menu-items-item-top">
                                <img src="../images/dist/main__cat/6.png" alt="">
                            </div>
                            <span>Аксессуары</span>
                        </a>
                        <a href="" class="main__catalog-body-block-menu-items-item">
                            <div class="main__catalog-body-block-menu-items-item-top">
                                <img src="../images/dist/main__cat/7.png" alt="">
                            </div>
                            <span>Безалкогольные</span>
                        </a>
                        <a href="" class="main__catalog-body-block-menu-items-item">
                            <div class="main__catalog-body-block-menu-items-item-top">
                                <img src="../images/dist/main__cat/8.png" alt="">
                            </div>
                            <span>Продукты</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>