<main class="main">
    <div class="container">
        <div class="main__body">
            <div class="main__body-text">
                <h1 class="main__body-text-title">
                    Алкогольная
                    продукция в
                    бутылках оптом
                    СПБ
                </h1>
                <p>AlkoRay — ваш надёжный партнёр в мире оптовой продажи алкоголя. Мы предлагаем широкий ассортимент высококачественных алкогольных напитков от ведущих производителей со всего мира.</p>
                <button class="main__body-text-btn">
                    Запрос цены
                </button>
            </div>
            <div class="main__body-block">
                <img class="main__body-block-img" src="../images/dist/main__img.png" alt="">
                <img class="l__main" src="../images/dist/l__main.png" alt="">
                <img class="r__main" src="../images/dist/r__main.png" alt="">
            </div>
        </div>
    </div>
    <a href="#hit" class="main__arrow">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7 12L16 21L25 12" stroke="#17174D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>            
    </a>
</main>