<section class="review">
    <div class="container">
        <div class="review__body">
            <h2 class="review__body-title">
                Отзывы покупателей
            </h2>
            <div class="review__body-block">
                <div class="review__body-block-item">
                    <img src="../images/dist/rev/3.png" alt="">
                    <div class="review__body-block-item-text">
                        <span>Анастасия Колосова</span>
                        <p>Тут какой то текст, приятный отзыв и благодарность. Тут какой то текст, приятный отзыв и благодарность. Тут какой то текст, приятный отзыв и благодарность. Тут какой то текст, приятный отзыв и благодарность. Тут какой то текст, приятный отзыв и благодарность. </p>
                    </div>
                </div>
                <div class="review__body-block-item">
                    <img src="../images/dist/rev/2.png" alt="">
                    <div class="review__body-block-item-text">
                        <span>Виктор Горький</span>
                        <p>Тут какой то текст, приятный отзыв и благодарность. Тут какой то текст, приятный отзыв и благодарность. Тут какой то текст, приятный отзыв и благодарность. Тут какой то текст, приятный отзыв и благодарность. Тут какой то текст, приятный отзыв и благодарность. </p>
                    </div>
                </div>
                <div class="review__body-block-item">
                    <img src="../images/dist/rev/1.png" alt="">
                    <div class="review__body-block-item-text">
                        <span>Викуся</span>
                        <p>Тут какой то текст, приятный отзыв и благодарность. Тут какой то текст, приятный отзыв и благодарность. Тут какой то текст, приятный отзыв и благодарность. Тут какой то текст, приятный отзыв и благодарность. Тут какой то текст, приятный отзыв и благодарность. </p>
                    </div>
                </div>
                <div class="review__body-block-item">
                    <img src="../images/dist/rev/4.png" alt="">
                    <div class="review__body-block-item-text">
                        <span>Жора</span>
                        <p>Тут какой то текст, приятный отзыв и благодарность. Тут какой то текст, приятный отзыв и благодарность. Тут какой то текст, приятный отзыв и благодарность. Тут какой то текст, приятный отзыв и благодарность. Тут какой то текст, приятный отзыв и благодарность. </p>
                    </div>
                </div>
            </div>
            <div class="review__body-link">
                <a class="" href="">
                    <span>Развернуть</span>
                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M16.9493 17.8699C18.5059 15.0145 22.8193 11.9999 22.8193 11.9999C22.8193 11.9999 18.5072 8.98524 16.9493 6.12988"
                            stroke="#8D0101" stroke-width="2.00069" stroke-miterlimit="22.9256"
                            stroke-linecap="square" />
                        <path d="M21.2913 11.9609H1.18072" stroke="#8D0101" stroke-width="2.00069"
                            stroke-miterlimit="22.9256" stroke-linecap="square" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>