<section class="sale">
    <img class="sale-img" src="../images/dist/l__main.png" alt="">
    <div class="container">
        <div class="sale__body">
            <h2 class="sale__body-title">
                Акции
            </h2>
            <div class="sale__body-block">
                <div id="splide__sale" class="splide" role="group" aria-label="Splide Basic HTML Example">
                    <div class="splide__arrows">
                        <button class="splide__arrow splide__arrow--prev">
                            <svg width="25" height="16" viewBox="0 0 25 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.9493 13.8699C18.5059 11.0145 22.8193 7.99988 22.8193 7.99988C22.8193 7.99988 18.5072 4.98524 16.9493 2.12988" stroke="#17174D" stroke-width="2.00069" stroke-miterlimit="22.9256" stroke-linecap="square"/>
                                <path d="M21.2913 7.96094H1.18072" stroke="#17174D" stroke-width="2.00069" stroke-miterlimit="22.9256" stroke-linecap="square"/>
                            </svg>                            
                        </button>
                        <button class="splide__arrow splide__arrow--next">
                            <svg width="25" height="16" viewBox="0 0 25 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.9493 13.8699C18.5059 11.0145 22.8193 7.99988 22.8193 7.99988C22.8193 7.99988 18.5072 4.98524 16.9493 2.12988" stroke="#17174D" stroke-width="2.00069" stroke-miterlimit="22.9256" stroke-linecap="square"/>
                                <path d="M21.2913 7.96094H1.18072" stroke="#17174D" stroke-width="2.00069" stroke-miterlimit="22.9256" stroke-linecap="square"/>
                            </svg>                            
                        </button>
                    </div>
                    <div class="splide__track">
                        <ul class="splide__list">
                            <li class="splide__slide">
                                <a href="">
                                    <img src="../images/dist/sale/1.png" alt="">
                                </a>
                            </li>
                            <li class="splide__slide">
                                <a href="">
                                <img src="../images/dist/sale/2.png" alt="">
                                </a>
                            </li>
                            <li class="splide__slide">
                                <a href="">
                                <img src="../images/dist/sale/3.png" alt="">
                                </a>
                            </li>
                            <li class="splide__slide">
                                <a href="">
                                <img src="../images/dist/sale/4.png" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>