<section class="startpage">
    <div class="startpage__body">
        <img class="l__start element-animation" src="../images/dist/l__start.png" alt="">
        <img class="r__start element-animation" src="../images/dist/r__start.png" alt="">
        <div class="startpage__body-main">
            <div class="startpage__body-main-info element-animation">
                <img src="../images/dist/18+.png" alt="" class="startpage__body-main-info-title element-animation">
                <p class="element-animation desk">Подтвердите Ваш возраст</p>
                <a href="/main.html" class="desk startpage__body-main-info-btn element-animation">
                    Мне исполнилось 18 лет
                </a>
            </div>
        </div>
        
    </div>
    <div class="startpage__body-info">
        <p class="element-animation mob">Подтвердите Ваш возраст</p>
        <a href="/main.html" class="mob startpage__body-main-info-btn element-animation">
            Мне исполнилось 18 лет
        </a>
    </div>
</section>