<section id="vin" class="vin">
    <div class="container">
        <div class="vin__body">
            <h2 class="vin__body-title">
                Вино
            </h2>
            <div class="vin__body-block">
                <div id="splide__vin" class="splide" role="group" aria-label="Splide Basic HTML Example">
                    <div class="splide__arrows">
                        <button class="splide__arrow splide__arrow--prev">
                            <svg width="25" height="16" viewBox="0 0 25 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16.9493 13.8699C18.5059 11.0145 22.8193 7.99988 22.8193 7.99988C22.8193 7.99988 18.5072 4.98524 16.9493 2.12988"
                                    stroke="#17174D" stroke-width="2.00069" stroke-miterlimit="22.9256"
                                    stroke-linecap="square" />
                                <path d="M21.2913 7.96094H1.18072" stroke="#17174D" stroke-width="2.00069"
                                    stroke-miterlimit="22.9256" stroke-linecap="square" />
                            </svg>
                        </button>
                        <button class="splide__arrow splide__arrow--next">
                            <svg width="25" height="16" viewBox="0 0 25 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16.9493 13.8699C18.5059 11.0145 22.8193 7.99988 22.8193 7.99988C22.8193 7.99988 18.5072 4.98524 16.9493 2.12988"
                                    stroke="#17174D" stroke-width="2.00069" stroke-miterlimit="22.9256"
                                    stroke-linecap="square" />
                                <path d="M21.2913 7.96094H1.18072" stroke="#17174D" stroke-width="2.00069"
                                    stroke-miterlimit="22.9256" stroke-linecap="square" />
                            </svg>
                        </button>
                    </div>
                    <div class="splide__track">
                        <ul class="splide__list">
                            <li class="splide__slide">
                                <div class="splide__slide-top">
                                    <div class="splide__slide-top-flag">
                                        <img src="../images/dist/flags/rus.png" alt="">
                                        <span>11%</span>
                                    </div>
                                    <div class="splide__slide-top-info">
                                        <img src="../images/dist/hit/1.png" alt="">
                                        <span class="splide__slide-top-info-name">
                                            Прасковейское, 6 лет,<br> в тубе и еще название длинное
                                        </span>
                                    </div>
                                </div>
                                <div class="splide__slide-bot">
                                    <button class="splide__slide-bot-btn">
                                        Запрос цены
                                    </button>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="splide__slide-top">
                                    <div class="splide__slide-top-flag">
                                        <img src="../images/dist/flags/am.png" alt="">
                                        <span>40%</span>
                                    </div>
                                    <div class="splide__slide-top-info">
                                        <img src="../images/dist/hit/2.png" alt="">
                                        <span class="splide__slide-top-info-name">
                                            Jack Daniels
                                        </span>
                                    </div>
                                </div>
                                <div class="splide__slide-bot">
                                    <button class="splide__slide-bot-btn">
                                        Запрос цены
                                    </button>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="splide__slide-top">
                                    <div class="splide__slide-top-flag">
                                        <img src="../images/dist/flags/mex.png" alt="">
                                        <span>40%</span>
                                    </div>
                                    <div class="splide__slide-top-info">
                                        <img src="../images/dist/hit/3.png" alt="">
                                        <span class="splide__slide-top-info-name">
                                            Виски Jameson
                                        </span>
                                    </div>
                                </div>
                                <div class="splide__slide-bot">
                                    <button class="splide__slide-bot-btn">
                                        Запрос цены
                                    </button>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <div class="splide__slide-top">
                                    <div class="splide__slide-top-flag">
                                        <img src="../images/dist/flags/rus.png" alt="">
                                        <span>40%</span>
                                    </div>
                                    <div class="splide__slide-top-info">
                                        <img src="../images/dist/hit/4.png" alt="">
                                        <span class="splide__slide-top-info-name">
                                            Водка Органика
                                        </span>
                                    </div>
                                </div>
                                <div class="splide__slide-bot">
                                    <button class="splide__slide-bot-btn">
                                        Запрос цены
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="vin__body-btn">
                <a href="">
                    Развернуть
                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M16.9493 17.8699C18.5059 15.0145 22.8193 11.9999 22.8193 11.9999C22.8193 11.9999 18.5072 8.98524 16.9493 6.12988"
                            stroke="#8D0101" stroke-width="2.00069" stroke-miterlimit="22.9256" stroke-linecap="square" />
                        <path d="M21.2913 11.9609H1.18072" stroke="#8D0101" stroke-width="2.00069"
                            stroke-miterlimit="22.9256" stroke-linecap="square" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>